
@font-face{
    font-family:"Ralewey";
    src:url(fonts/Raleway-Regular.ttf);
    font-family: 'RalewayS';
    src: url(fonts/Raleway-Medium.ttf);
         
}

@media screen and (max-width: 767px){
    /*css portable*/
    .bloc_pages{
        display: block;
        width:100%;
    }
    /*======================== HEADER ========================*/
    h2{
        margin-left: 0px;
    }
    h3{
        font-size: 13px;
    }
    .titolo{
        font-size: 12px;
    }
    nav {
        width: 100%;
        

    }
    nav ul{
        
        text-align: right;
        font-size: 15px;
    }
    nav .mq{
        font-size: 0px;
        margin-right: -10px;
    }
    .caché{
        width: 100%;
        display: flex;
        text-align:center;
        
    }    
    .caché a{
        width: 100%;
        text-align: center;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #F2F2F2 ;
        text-decoration: none;
        color: black;
        font-family: "RalewayS";
        font-size: 15px
    }
    .caché a:hover{
        color: #0065FC;;
        padding-bottom: 10px;
        border-bottom: 2px solid #0065FC;;
        
    }
    .h_1{
        width: auto;
        
        
    }
    .h_1 li{
        padding: 10px 5px ;
    }
    #search{
        width: 260px;
    }
    .search{
        width: 40px;
        border-radius: 8px 8px 8px 8px;
        margin-left: -7px;
    }
    .search strong{
     font-size: 0px;
    }
    .search .fas::before{
        display: block;
       margin: auto;
       margin-left: 10px;
        font-size: 20px;
    }
    .h_1 p{
        width: 100%;
    }
    .h_1 a{
        margin-bottom: 10px;
    }
  
    
    
    
    /*======================== BODY ========================*/
    section {
        width: 100%;
        flex-direction: column-reverse;
        margin-left: 10px;
    }
    /*============= PLUS POPOL =============*/
    aside{
        width: 100%;
        height: 100%;
        margin-left: -18px;
        border-radius: 0px 0px 0px 0px;
        
    }
    aside .h3 .fas{
        margin-right: 40px;
    }
    aside .h3 {
        margin-left: 16px;
    }
    
    .container{
        flex-direction: column;
        padding-left: 20px;
        width: 100%;
    }
    .container > li{
        width: 90%;
        max-width: 325px;
    }

/*============= HEBERGEMENTS =============*/
    .bloc_images{
   width: 100%;
   height: auto;
   background-color: white;
    }
    .bloc_images > .h3{
        margin-left: -21px;
    }
    .bloc_images .griglia_images{
    width: 100%;
    display: inline-block;
    margin-left: -30px;
    }
    .griglia_images >li{
        display: flex;
        flex-direction: column;
       width: 90%;
       max-width: 325px;
       margin-bottom: 40px;
       box-shadow: 1px 1px 1px 1px whitesmoke;
       margin-left: 2%;
    }
   .griglia_images > li img{
       width: 81%;
       max-width: 90%;
   }
    
    .griglia_images .icones{
        margin-right: 338px;
        display: flex;
        margin-top: auto;
    }
    
   
    /*================= ACTIVITES =================*/
    .activites{
        width: 100%;
        flex-direction: column;
        
    }
    .h3{
        margin-left: 11px;
    }
     .images_act1{
     width: 93%;
     height: 172px;
     max-width: 400px;
     
     margin-bottom: 20px;
     
    }
    .images_act1 img{
        width: 99%;
        height: 100px;
        max-width: 400px;
    }
    .images_act1 img p{
        text-align: center;
    }
    .images_act2{
        width: 95%;
    }
    .images_act2 .border{
        width: 98%;
        max-width: 400px;
        height: 172px;
        
    }
    .images_act2 .border img{
        width: 99%;
        height: 100px;
        text-align: start;
        max-width: 400px;
    }
    .images_act2 .border1{
        width: 100%;
        height: 172px;
        text-align: start;
        
        margin-bottom: 20px;
    }
  
   
    .images_act4 img{
        width: 99%;
        height: 100px;
        max-width: 400px;
    }
    .images_act5{
        width: 95%;
        
        margin-top: 20px;
    }
    .images_act5 .border2 {
        height: 185px;
        width: 98%;
        max-width: 400px;
    }
    .images_act5 img{
        width: 99%;
        height: 100px;
        text-align: center;
        max-width: 400px;
    }
    /*================= FOOTER =================*/
    footer{
        width: 100%;
        
    }
    footer .Apropos {
        flex-direction: column;
        width: 100%;
    }


}
