@media screen  and (min-width: 768px) and (max-width: 1199px){
    /*ccs tablette*/
    .bloc_pages{
        width: 768px;
        display: block;
    }
    /*======================== HEADER ========================*/
    .h3{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    /*========= NAVIGATION =========*/
    nav {
        width: 100%;
        

    }
    nav .mobile{
        width: 100%;
     margin-left: -83px;
     margin-top: 79px;
     display: flex;
     text-align:center;
     
    }
    nav .mobile a{
     width: 100%;
   
         text-align: center;
         
         margin-top: 30px;
         margin-bottom: 10px;
         padding-bottom: 10px;
         border-bottom: 2px solid #F2F2F2;
         text-decoration: none;
         color: black;
         font-family: "RalewayS";
         font-size: 17px;
         margin-left: -11px;
         margin-right: auto;
    }
    nav .mobile a:hover{
        border-bottom:  #0065FC 2px solid;
        padding-bottom: 10px;
        border-top: none;
    }
    nav a{
     margin-top: 48px;
     margin-left: -71px;
    }
    nav strong:hover{
        border-top: 1px solid #0065FC;
        padding-top: 20px;
    }
   
   form strong{
       margin-left: 4%;
       margin-right: auto;
   }
   
    
    .h_1{
        width: 104%;
        
    }
   
    form{
        width: 70%;

        
    }
    form p  {
        
        display: none;
    }
    form #icon a {
        
        text-align: center;
        font-size: 20px;
        color: white;
        
    }
    form #icon {
        width: 60px;
        margin-top: 10px;
    }
    /*======================== BODY ========================*/
    section {
        width: 100%;
        flex-direction: column-reverse;
    }
     /*============= PLUS POPOL =============*/
     
    aside{
        width: 100%;
        margin-left: 0px;
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 20px;
    }
     aside .h3{
       margin-right: 120px;
       margin-bottom: -20px;
    }
    aside .h3 .fas{
        display: flex;
        justify-content: flex-end;
        margin-top: -20px;
    }
    aside > .container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: -20px;
    }
    aside .container li  img{
        width: 100%;
       border-radius: 15px 20px 0px 0px;   
    }
    
    aside  ul li a{
        display: inline-block;

    }
     aside .container  p{
        margin-bottom: 2px;
        margin-left: 5px;
    }
    aside .container strong{
        margin-top: 5px;
    }
 
    aside .container >  li{
        width: 200px;
        height: auto;
        margin-right: 30px;    
        margin-left: 20px;
    }
    aside> .container .icones{
        margin-left: 8px;
        margin-top: -14px;
    }
    aside .container >  li .fas{
        margin-top: -10px;
        margin-bottom: 9px;
    }
  
    /*============= HEBERGEMENTS =============*/
    .bloc_images{
        width: 98.5%;
        margin-left: 0px;
        border-radius: 20px 20px 20px 20px;
    }
    .bloc_images .h2{
        margin-left: auto;
    }
    .griglia_images{
       display: flex;
       width: 100%;

    }
    .griglia_images a li{
        width: 200px;
        margin-left: 37px;
        margin-right: auto;
    }
    .griglia_images a li img{
        width: 100%;
    }
    .griglia_images .fas{
        margin-left: -4px;
    }
    /*================= ACTIVITES =================*/
    .activites{
        margin-left: auto;
        display:flex;
        flex-direction: row;
        margin-top: -3px;
    }
    
    .activites .images_act1{
        width: 90%;
        margin-bottom: -21px;
    }
    .images_act2{
        width: 20%;
        margin-right:16px ;
    }
     .images_act2 img{
        width: 145px;
    }
    
    .images_act2 .photo_fort{
        height: 143px;
    }
    .activites >.images_act2 .border{
       margin-top: 2px;
       padding-top: 0px;
       margin-bottom: 16px;
    }
   .images_act5{
       width:20%;
       margin-top: -33px;
   }
   .images_act5 img{
       width: 145px;
   }
    .activites > .images_act5 .border2{
        margin-top: 35px;
        margin-bottom: -20px;
    }
     /*================= FOOTER =================*/
     footer{
         width: 100%;
         margin-top: 30px;
     }
     footer .apropos{
         width: 107%;
         margin: 0px;
     }
}